.DetailSubject {
  padding: 20px 0px 0px 50px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
}

.DetailSubject .detailPresentation {
  background-image: url(../../assets/Presentation/Panel.webp);
  color: rgb(66 54 53);
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 90%;
  height: 50vh;
  padding: 0px 60px;
  border-radius: 10px 10px 0px 0px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  
}

.DetailSubject .detailPresentation h1 {
  font-size: 50px;
  line-height: 1;
  font-family: Poppins-Bold;
}

.DetailSubject .detailPresentation p {
  font-family: Poppins-Regular;
  font-size: 20px;
}

.detailDescription {
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: 40vh;
}

.detailDescription .miniNavbar {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  /* justify-content: space-around; */

  background-color: rgb(255, 255, 255);
}

.detailDescription .miniNavbar button {
  height: 100%;
  outline-style: none;
  border-style: none;
  font-family: Poppins-Bold;
  width: 100%;
  background: white;
  transition: all 200ms;
}

.detailDescription .miniNavbar button:hover {
  border-bottom: 3px solid ;
}
.detailDescription .miniNavbar button[class='Active'] {
  border-bottom: 2px solid grey ;
}
/* DESCRIPTION */
.descriptionCurso {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  border-radius: 0px 0px 10px 10px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.descriptionCurso h1 {
  font-family: Poppins-Bold;
  font-size: 25px;
}

.descriptionCurso p {
  font-family: Poppins-Regular;
  font-size: 15px;
}

/* AUTHORTEACHER */
.authorTeacher {
  font-family: Poppins-Bold;
  font-size: 25px;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.authorTeacher h1:first-child {
  font-size: 25px;
}
.authorTeacher h1 {
  width: 100%;
  padding-bottom: 10px;
  
}

.cardsTeacher {
  width: 100%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardTeacher {
  font-family: Poppins-Regular;
  font-size: 18px;
  min-width: 220px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #d6d4d4;
}

.cardTeacher img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}
.TemasCard{
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.TemaCard{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  padding: 14px;
  min-height: 85px;
  max-height: 85px;
  background-color: #E2E8F0;
  border-radius: 15px;
  align-items: center;
  gap: 20px;
}
.TemaCard h3{
  display: flex;
  background-color: #d6d4d4;
  width: 4%;
  height: 40px;
  min-height: 40px;
  border: 3px solid #d6d4d4;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  color: #747474;
}
.TemaCard p {
  font-size: 16px;
  font-weight: 700;
}
.AboutInteracciones h1{
  font-size: 25px;
  font-family: Poppins-Bold;
}
.AboutInteracciones {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  border-radius: 0px 0px 10px 10px;
}
.CardInteraccion{
  display: flex;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.CardInteraccion img{
  width: 100%;
  
}