.containerAll {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.containerNabvar {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 100vh;
  background: var(--color-Red);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  transition: all 300ms;
}

.containerNabvar .closeNavbar {
  outline-style: none;
  border-style: none;
  background: none;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid var(--color-white);
  background-color: var(--color-Red);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 300ms;
}

.containerNabvar .closeNavbar:hover {
  border: 2px solid #ff4753;
  background-color: var(--color-white);
  transform: scale(1.2);
}

.containerNabvar .closeNavbar:hover svg path {
  fill: var(--color-Red);
}

.containerNabvar .closeNavbar h1 {
  display: none;
}

.containerNabvar .closeNavbar svg {
  width: 35px;
  height: 35px;
}

.containerNabvar .openNavbar {
  outline-style: none;
  border-style: none;
  background: none;
  width: 170px;
  height: 60px;
  border-radius: 10px;
  border: 2px solid var(--color-white);
  background-color: var(--color-Red);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  transition: all 300ms;
}

.containerNabvar .openNavbar:hover {
  border: 2px solid #ff4753;
  background-color: var(--color-white);
  transform: scale(1.2);
}

.containerNabvar .openNavbar:hover h1 {
  color: var(--color-Red);
}

.containerNabvar .openNavbar:hover svg path {
  fill: var(--color-Red);
}

.containerNabvar .openNavbar h1 {
  display: flex;
  font-family: Poppins-Regular;
  color: var(--color-white);
}

.containerNabvar .openNavbar svg {
  width: 35px;
  height: 35px;
}
