:root {
  --color-Red: #e30614;
  --color-white: #ffffff;
  --color-gris: #d9d9d9;
  --color-yellow: #fdb201;
  --color-oscuro: #1E1E1E;
}

@font-face {
  font-family: Poppins-Bold;
  src: url(./assets/font/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(./assets/font/Poppins-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
