.CardTeacher{
    display: flex;
    width: 30%;
    align-items: center;
  
}
.CardTeacher img{
    width: 100%;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 110px;
    border-radius: 200px;
}
.CardTeacher p{
    display: flex;
    padding-top: 48px;
    padding-left: 25px;
    width: 100%;
    min-width: 180px;
}